<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="/public/css/style.css">

  <title>Amazane</title>
</head>

<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/log_in">Log-in</a></li>
    <li><a href="/sign_up">Sign-up</a></li>
    <li class="divider"></li>

  </ul>

  <nav>
    <div class="nav-wrapper">
      <a href='/' class="brand-logo">Amazane</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Shop</a></li>
        <li><a href="/auth/login">Login</a></li>
        <a href='/cart'><i class="fas fa-shopping-cart"></i></a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Project Amazane</h5>
          <p class="grey-text text-lighten-4">Simple Web shop made with <i class="fab fa-node-js fa-1x"></i> Node.js, Express, and MySQL</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">About us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2020 UCLA Bootcamp Full Stack Flex
        <a class="grey-text text-lighten-4 right" target="_blank" href="https://bootcamp.uclaextension.edu/coding/">Link to Bootcamp</a>
      </div>
    </div>
  </footer>
  <script src="/js/script.js"></script>
</body>

</html>