<div class="row" style="margin-top: 20px;">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Item Name</th>
                    <th>Item Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alvin</td>
                    <td>Eclair</td>
                    <td>$0.87</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>