<table style="margin: 0 auto;">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item Name</th>
            <th>Item Price</th>
            <th>Delete Button</th>
        </tr>
    </thead>
    <tbody>
        {{#each cart}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td><a href="#" class="delete-btn">Delete</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>