<div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="row" style="margin-top: 20px;">
            <div class="col s3 center-align">
                <b>Image</b>
            </div>
            <div class="col s2 center-align">
                <b>Price</b>
            </div>
            <div class="col s5 center-align">
                <b>Item</b>
            </div>
            <div class="col s2">

            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col s12 center-align">
              <h4>Your cart is empty.</h4>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col s3 right-align">
                <b>Total:</b>
            </div>
            <div class="col s2 center-align">
                <b>$0</b>
            </div>
            <div class="col s7 right-align">
                <a href="/auth/google" class="order-btn btn btn-small disabled right pink lighten-2">Cart is empty</a>

            </div>
        </div>
    </div>
</div>