<div class="parallax-container">
  <div class="parallax"><img
      src="https://www.louisianataxfree.com/thumb/1600/1100/uploads/headers/xpexelsphoto1345082_5caf9709bc252.jpg.pagespeed.ic.qnppcsX6_c.jpg">
  </div>
</div>
<div class="section pink lighten-5" id='carousel2'>
  <div class="row container center-align" id="carousel1">

    <div class="carousel">
      <a class="carousel-item" href="#one!"><img
          style="width: 300px;" src="https://stockx.imgix.net/products/streetwear/Nike-x-UN-LeBron-James-More-Than-An-Athlete-Shorts-Racer-Blue-Black.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1570479203&w=1000"></a>
      <a class="carousel-item" href="#two!"><img style="width: 300px;"
          src="https://stockx-360.imgix.net/Air-Jordan-1-Retro-High-UNC-Leather/Images/Air-Jordan-1-Retro-High-UNC-Leather/Lv2/img04.jpg?auto=format,compress&q=90&updated_at=1565708126&w=1000"></a>
      <a class="carousel-item" href="#three!"><img style="width: 300px;"
          src="https://stockx.imgix.net/products/streetwear/Cactus-Plant-Flea-Market-Born-Again-Hooded-Sweatshirt-Purple.png?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1583256331&w=1000"></a>
      <a class="carousel-item" href="#four!"><img style="width: 300px;"
          src="https://stockx.imgix.net/products/collectibles/Travis-Scott-x-Houston-Rockets-Bobblehead-SGA-Black.jpg?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1582609526&w=1000"></a>
      <a class="carousel-item" href="#five!"><img style="width: 300px;"
          src="https://stockx.imgix.net/products/collectibles/KAWS-Share-Vinyl-Figure-Brown.jpg?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1582567586&w=1000"></a>
      <a class="carousel-item" href="#five!"><img style="width: 300px;"
          src="https://stockx.imgix.net/products/streetwear/Supreme-x-Band-Aid-Adhesive-Bandages-Red-Front.jpg?fit=fill&bg=FFFFFF&w=700&h=500&auto=format,compress&q=90&trim=color&updated_at=1551994702&w=1000"></a>
    </div>
    <a id='startButton' href="/" class="waves-effect waves-light btn btn-large valign-wrapper cyan lighten-2">Get Started with AmaZane</a>

  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img
      src="https://www.eastpac.co.uk/wp-content/uploads/2013/01/group-of-people-shopping-concept-PXSJ734.jpg"></div>