<div class="row center-align" style="margin-top: 30px;">
  <div class="col s10 offset-s1 m6 offset-m3">
    <div class="card card-content" style="padding: 20px;">

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Enter Username" id="login_username" type="text" class="validate">
          <label for="login_username">Username</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Enter Username" id="login_password" type="password" class="validate">
          <label for="login_password">Password</label>
        </div>
      </div>

      <div class="row center-align">
        <div class="input-field col s12">
          <a href="/auth/login" class="waves-effect waves-light btn cyan lighten-2 login-button" style="margin: 5px;">Login</a>
          <a href="/auth/google" class="waves-effect waves-light btn pink lighten-2">Register with <i class="fab fa-google"></i>oogle+</a>
        </div>
      </div>


    </div>
  </div>
</div>
</div>