<link href="https://fonts.googleapis.com/css?family=Chakra+Petch|Dosis|Inconsolata|Roboto+Mono&display=swap" rel="stylesheet">
<div class="row flex">
    {{#each items}}
    <div class="col s10 m6 l3">
        <div class="card-panel">
            <div class="card-image item-image">
                <img class="responsive-img" src={{picture}}>
                <span class="card-title"><p style="font-size: 16px;">{{name}}</p></span>
            </div>
            <div style="font-family: 'Chakra Petch', sans-serif;">
                <p style="font-size: 12px;">${{price}}</p>
                <div><a class="waves-effect waves-light btn pink lighten-2"><i class="material-icons right">add</i>Add to Cart</a></div>
            </div>
        </div>
    </div>
    {{/each}}
</div>